{% extends 'base.html' %}

{% block content %}
<div style="font-size: 20px; font-family: 'Apple Braille', sans-serif; color: #177199">
    <h3>Location: {{ location.location_name }}</h3>
    <img src="{{url_for('static', filename='machine.jpeg')}}" alt="vending machine" style="width: 200px">
    <form onsubmit="changeName();return false">
        <input type="text" name="location" placeholder="New Location Name">
        <input type="submit" name="confirm" value="Confirm" style="font-size: 30px">
    </form>
    <button><a href="{{url_for('page.stock', location_id=location.id)}}">Go Back</a></button>
    <button onclick="deleteLocation()">Delete</button>
</div>

<script>
    const location_id = '{{location.id}}'
    async function changeName() {
        await axios.put('/location/change-location-name', {location_id: location_id, location_name: document.getElementsByName('location')[0].value})
        await new Promise(r => setTimeout(r, 200));
        location.reload(true)
    }

    async function deleteLocation() {
        await axios.delete('/location/delete-location', {data: {location_id: location_id}})
        await new Promise(r => setTimeout(r, 200));
        location.reload(true)
    }
</script>

{% endblock %}
