{% extends 'base.html' %}

{% block content %}
<div style="font-size: 20px; font-family: 'Apple Braille'; color: #177199">
    <h3>Location: {{ location.location_name }}</h3>
    <img src="{{url_for('static', filename='machine.jpeg')}}" style="width: 200px">
    <form action="{{ url_for('location.change_loc_name') }}" method="PUT">
        <input type="text" name="location" placeholder="New Location Name">
        <input type="text" name="lid" value="{{location.id}}" style="display: none">
        <input type="submit" name="confirm" value="Confirm" style="font-size: 30px">
    </form>
    <form action="{{ url_for('page.stock', lid=location.id) }}" style="display: inline-block">
        <input type="submit" name="discard" value="Discard Changes" style="font-size: 30px;">
    </form>
    <form action="{{ url_for('location.delete_loc') }}" method="DELETE" style="display: inline-block">
        <input type="text" name="lid" value="{{location.id}}" style="display: none">
        <input type="submit" name="delete" value="Delete" style="font-size: 30px">
    </form>
</div>

{% endblock %}
