{% extends 'base.html' %}

{% block content %}
<div style="font-size: 20px; font-family: 'Apple Braille', sans-serif">
    <div style="padding-left: 10px">
        <form action="{{ url_for('location.add_location') }}" method="POST" style="display: inline-block">
            <input type="text" name="location" placeholder="New Location Name">
            <input type="submit" name="confirm" value="Confirm" style="font-size: 30px">
        </form>
    </div>
    <div style="padding: 10px">
        <ul>
        {% for i in range(0, len) %}
            <li style="padding: 10px"><a href="{{ url_for('page.stock', lid=locations[i].id) }}" data-test-id="loc-name">{{locations[i].location_name}}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
