{% extends 'base.html' %}

{% block content %}
<div style="font-size: 20px; font-family: 'Apple Braille'">
    <div style="padding-left: 10px">
        <form action="{{ url_for('web.add_location') }}" method="POST" style="display: inline-block">
            <input type="text" name="location" placeholder="New Location Name">
            <input type="submit" name="confirm" value="Confirm" style="font-size: 30px">
        </form>
    </div>
    <div style="padding: 10px">
        {% for i in range(0, len) %}
        <div>
            <li style="padding: 10px"><a href="{{ url_for('web.stock', lid=locations[i].id) }}">{{locations[i].location_name}}</a></li>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}