{% extends 'base.html' %}

{% block content %}
<div style="font-size: 20px; font-family: 'Apple Braille', sans-serif">
    <div style="padding-left: 10px">
        <form onsubmit="addProduct();return false" style="display: inline-block">
            <input type="text" name="product" placeholder="New Product Name">
            <input type="submit" name="confirm" value="Confirm" style="font-size: 30px">
        </form>
    </div>
    <div style="display: grid; grid-template-columns: 25% 25% 25% 25%; color: white; font-family: 'Apple Braille', sans-serif; row-gap: 10px">
        {% for product in all_products %}
        <div style="width: fit-content; background-color: black;">
            <img src="{{url_for('static', filename='samp.jpeg')}}" alt="Rick Ashley" style="width: 350px">
            <div style="padding: 15px; color: white">
                <h3 class="{{product.id}}">{{ product.product_name }}</h3>
                <button onclick="deleteProduct(this)" id="{{product.id}}">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    async function addProduct() {
        await axios.post('/product/add-product', {product: document.getElementsByName('product')[0].value})
        await new Promise(r => setTimeout(r, 200));
        location.reload(true)
    }

    async function deleteProduct(self) {
        await axios.post('/product/delete-product', {pid: self.id})
        await new Promise(r => setTimeout(r, 200));
        location.reload(true)
    }
</script>

{% endblock %}
