{% extends 'base.html' %}

{% block content %}
<div style="font-size: 20px; font-family: 'Apple Braille', sans-serif">
    <div style="padding-left: 10px">
        <form action="{{ url_for('product.add_product') }}" method="POST" style="display: inline-block">
            <input type="text" name="product" placeholder="New Product Name">
            <input type="submit" name="confirm" value="Confirm" style="font-size: 30px">
        </form>
    </div>
    <div style="display: grid; grid-template-columns: 25% 25% 25% 25%; color: white; font-family: 'Apple Braille', sans-serif; row-gap: 10px">
        {% for product in all_products %}
        <div style="width: fit-content; background-color: black;">
            <img src="{{url_for('static', filename='samp.jpeg')}}" alt="Rick Ashley" style="width: 350px">
            <div style="padding: 15px; color: white">
                <h3>{{ product.product_name }}</h3>
                <form action="{{ url_for('product.delete_product') }}" method="DELETE" style="display: inline-block;">
                    <input type="text" name="pid" value="{{product.id}}" style="display: none">
                    <input type="submit" name="delete" value="Delete" style="font-size: 30px">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
