{% extends 'base.html' %}

{% block content %}
<h2 style="font-family: 'Apple Braille'; color: #177199">Location: <a href="{{ url_for('controller.edit_location', lid=lid) }}">{{ location }}</a></h2>
<form action="{{ url_for('controller.add_product') }}" method="POST" style="font-family: 'Apple Braille'; padding: 20px">
    <select name="pid">
        {% for product in all_products %}
        <option value="{{ product.id }}" SELECTED>{{ product.product_name }}</option>
        {% endfor %}
    </select>
    <input type="number" name="stock" placeholder="Stock">
    <input type="text" name="lid" value="{{lid}}" style="display: none">
    <input type="submit" name="confirm" value="Confirm">
</form>
<div style="display: grid; grid-template-columns: 25% 25% 25% 25%; color: white; font-family: 'Apple Braille'; row-gap: 10px">
    {% for stock, product in products %}
    <div style="width: fit-content; background-color: black;">
        <img src="{{url_for('static', filename='samp.jpeg')}}" style="width: 350px">
        <div style="padding: 15px">
            <h3>{{ product.product_name }}</h3>
            <h4>Stock: {{ stock.stock }}</h4>
            <form action="{{ url_for('controller.increase_stock') }}" method="POST" style="display: inline-block">
                <input type="text" name="pid" value="{{product.id}}" style="display: none">
                <input type="text" name="lid" value="{{lid}}" style="display: none">
                <input type="submit" name="increase" value="+" style="font-size: 30px">
            </form>
            <form action="{{ url_for('controller.decrease_stock') }}" method="POST" style="display: inline-block">
                <input type="text" name="pid" value="{{product.id}}" style="display: none">
                <input type="text" name="lid" value="{{lid}}" style="display: none">
                <input type="submit" name="decrease" value="-" style="font-size: 30px">
            </form>
            <form action="{{ url_for('controller.delete_from_stock') }}" method="POST" style="display: inline-block; position: relative; left: 60%">
                <input type="text" name="pid" value="{{product.id}}" style="display: none">
                <input type="text" name="lid" value="{{lid}}" style="display: none">
                <input type="submit" name="delete" value="Delete" style="font-size: 30px">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}